@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
}
.frist {
    display: flex;
    justify-content: flex-end; 
    gap: 20px;
    padding: 10px 20px;
    background-color: #f8d7da; 
    font-family: 'montserrat',sans-serif;
    font-size: 12px;
}
.icon {
    display: flex;
    align-items: center;
    gap: 8px; 
}
.icon i {
    font-size: 18px;
}

.get {
    background-color: #0e0d0d; 
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 20px ;
    border: 2px solid white;
    font-weight: bold;
}
.menu{

     position: fixed;
     margin-right: 1cm;
     align-items: center;
     margin-top: 1.5cm;
     padding: 10px;
     display: flex;
     justify-content: end;
     gap: 10px;
     top: 0;
     left: 0;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.5); /* Black transparent background */
     z-index: 100; /* Make sure it's on top of the slides */
}

.menu ul{

    font-family: 'righteous',sans-serif;
    display: flex;
    gap: 30px;
    color: #FEFEFE;
}

.inputt{
    display: flex;
    padding: 10px;
    border-radius: 20px;
    background-color: #FEF1F1;
    align-items: center;
    text-align: center;
    outline: none;
}
  .slides {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0; 
    animation: fadeAnimation 9s infinite;
  }
  
  #slide1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),url('../Image/back.jpeg')
  }
  
  #slide3 {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url('../Image/u.jpeg')
  }
  

  @keyframes fadeAnimation {
    0%, 100% {
         opacity: 0;
         } 
    20%, 80% {
         opacity: 1;
         } 
  }
  #slide1 {
    animation-delay: 0s;
  }
  #slide3 {
    animation-delay: 3s;
  }
  .slides {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  .slide-button{
    background-color: transparent;
    align-items: center;
    margin-top: 1cm;
    padding: 8px;
    margin-left: 17cm;
    color: white;
    border:  2px solid white;
    
  }
  .ptitle{
    font-family: 'Roboto',sans-serif;
    font-size: 32px;
    color: white;
    margin-top: 5cm;
    margin-left: 10.5cm;
    text-shadow: 3px 3px 8px rgba(255, 255, 255, 0.8);
  }
  .ptitle span{
    margin-left: 6cm;
  }
  .pptitle{
    font-family: 'Righteous',sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    margin-left: 12.5cm;
  
  }
  .icon-left{
    margin-right: 17cm;
  }